<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>

</head>
<body>
{% comment "Dodatkowa notka"%}
Lorem ipsum test 123
{% endcomment %}
{% for o in list %}
<div class ="{% cycle 'row' "row2"%}">{{ o }}</div>
    {% empty %}
    <div>Brak elementów w liście</div>
{% endfor %}
<div>
{% if our_get != '' %}
    Nasza wartość:{{ our_get }}
    {{ else }}
    <code>Our_get</code> jest pusty!
{% endif %}
</div>
<div>
    Nasza wartość wyności{{  our_get }}
</div>

Dzisiaj jest:{{ nasza_data | date:"d m Y" }}
</body>
</html>